.homeSection{
    width: 100%;
    padding: 50px 0px;
    background-color: white;
    color: black;
    
}
.productSection{
    width: 100%;
    color: black;
    padding: 50px 0px;
    background-color: rgb(68, 75, 75);
}
.productSection h1{
    text-align: center;
}
.product_mid{
    max-width: 1320px;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
}
.product_item{
    background: white;
}
.product_item img{
    width: 100%;
    display: block;
}
.product_item h3{
    text-align: center;
    padding: 10px 0px;
}