@import "tailwindcss";

.pagination {
  justify-content: center;
  display: flex;
  gap: 5px;
  margin-top: 15px;
  padding-left: 0;
  list-style: none;
  /* margin: 0; */
}

.page-item .page-link {
  position: relative;
  border:1px solid grey;
  display: block;
  margin: 0 2px;
  min-height: 40px;
  min-width: 40px;
  
  text-align: center;
  line-height: 40px;
  color: #007bff;
  text-decoration: none;
}

.page-item .page-link:hover {
  background-color: #cccccc;
}

.page-item.active .page-link {
  font-weight: 700;
  color: #ffffff;
  background-color: #007bff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
}
